* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 30px;
}

.form {
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient( rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95)), url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
    padding: 30px;
    border-radius: 20px;
    max-height: 800px;
}

.form__item-input {
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    height: 35px;
    border-radius: 20px;
    padding-left: 15px;
    border: none;
    margin-top: 5px;
}

.form__item-label {
    color: #fff;
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    padding-left: 10px;
    /* margin-bottom: 5px; */
}

.form__btn {
    height: 35px;
    border-radius: 20px;
    border: 0px;
    background-color: rgba(16, 89, 255, 1);
    color: #fff;
    transition: all 0.2s;
}

.form__title {
    color: #fff;
}

.form__btn:hover {
    background-color: rgb(53, 114, 255);
}

.form__item-hint {
    color: rgb(255, 0, 0);
    padding-left: 10px;
}

.form__item-success {
    color: rgb(64, 238, 29);
    padding-left: 10px;
}

.form__item-input::placeholder {
    color: #fff;
}

.form__btn:disabled {
    background-color: rgb(9, 45, 128);
}

.form-result {
    width: 400px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.form-result__error {
    padding: 10px 0px;
    color: #fff;
    background-color: red;
}

.form-result__success {
    padding: 10px 0px;
    color: #fff;
    background-color: rgb(8, 50, 185);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateX(100%);
    transition: all 0.3s;
}

.modal--open {
    transform: translateX(0%);
}

.modal__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.modal-wrapper {
    position: relative;
}

.modal-close {
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: transparent;
    color: rgb(255, 19, 19);
    font-size: 20px;
    border: 0px;
}

.btn-open-modal {
    padding: 7px;
    font-size: 14px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(36, 15, 228);
    color: #fff;
}